.company-name {
    font-size: 32px !important;
    color: #545871 !important;
}
.header {
    padding: 0.5% 3% 0.5% 5% !important;
    font-weight: 500;
}
.logo-image {
    width:52px;
    height:52px;
}
#dropdown-basic-button {
    background-color: white;
    color:rgba(0,0,0,.5);
    border: none;
    font-weight: bold;
}
#dropdown-basic-button.active > a:hover, #dropdown-basic-button.active > a:focus{
    border: none;
}