
.detail-component {
    margin:0 !important;
    height: 100vh !important;
}
.all-set {
    font-size: 50px;  
    padding-top: 20px;
    color: #888888;
    margin: 0 auto 50px auto;
}
.left-nav {
    height: 100vh !important;
}
.left-nav-item {
    font-size: 32px !important;
}
.right-top {
    background-color: #EEEEEE;
    height: 100vh;
}
.back-next {
    height: 14vh;
    position: absolute;
    width:100%;
    bottom: 0;
}
.information-area {
    background-color: white;
    border: 1px solid #DDDDDD;
    margin: 5% 10% !important;
    padding-bottom:3%;
}
.pet-name {
    font-size: 40px;
    justify-content: center;
    padding:1% 0 1% 0;
    color: #888888
}
.info-holder {
    justify-content: space-around;
    padding: 4% 4%;
}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 26px;
    border: 1px solid #DDDDDD;
    background-color: #F7F7F7;
    color: #AAAAAA;
    margin: 0 1%;
    padding: 2% 0 1% 0;
    text-align: center;
}
.more-pets {
    font-size: 30px;
    margin: 0 auto;
    color: #9597A6;
}
.span-text {
    color: #545871;
}

.pet-image {
    margin-top: -60px;
    justify-content: center;
    
}
.portfolio-image {
    width:100px;
    height:100px;
}
.male-icon, .check-icon {
    width:50px;
    height:50px;
}
.middle-space {
    margin-bottom:4%;
}
.favorite-things {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    color: #AAAAAA;
}
.favorite-title {
    font-size: 22pt;
}
.favorite-content {
    font-size:18pt;
}
.complete {
    font-size:20px;
    display: flex;
    justify-content: center
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {

}

@media only screen and (max-width:991px){

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .back-next {
        width: 100vw;
        bottom: 0;
        position: static
    }
    .right-top {
        background-color: #EEEEEE;
        height: 100%;
    }
    .back-button, .complete {
        font-size: 18px;
        border-radius: 30px !important;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center
    }
    .left-nav {
        display: none;
    }
    .info-item {
        margin: 5%;
        font-size: 20px;
        padding: 2% 4%
    }
    .all-set {
        font-size: 35px;
        margin-bottom:80px;
        margin-top:40px;
    }
    .favorite-things {
        text-align: center;
    }
    .favorite-title {
        font-size:28px;
    }
    .favorite-content {
        font-size: 24px;
        line-height: 30px;
        margin: 8px 4px 15px 4px;
    }
}