
.userpet_div {
	margin-top:50px;

}
.user_photo {
	width: 80px;
  	border-radius: 50%;
}

.user_name {
	font-size: 20px;
	color: #9597A6;
	margin-left: 20px;
	display: inline-block;

}

.user_dashboard {
	font-size: 15px;

}
.pet_div {
	margin-left: 20px;

}
.pet_name {
	font-size: 10px;

}
.pet_photo {
	width: 30px;
	height: 30px;

}
.user_background {
  background-color: #DDDDDD;
  background-size: cover;

}

.user_profile_photo {
	margin-left: 50px;
	width: 120px;
  	border-radius: 50%;
  	display: inline-block;

}
.user_profile_name {
	font-size: 20px;
	color: #9597A6;
	margin-top: 5px;
	margin-left: 0px;
	display: inline-block;

}

.pet_profile_name {
	font-size: 10px;
	margin-top: 10px;
  	margin-left: -25px;

}

.pet_profile_photo {
	width: 50px;
  	border-radius: 50%;
  	margin-left: -25px;
  	margin-top: 10px;

}
.user_edit_profile {
	margin-top: 50px;

}
.user_event_div {
	margin-top: 120px;

}

.user_events_text_first {
	font-size: 20px;
	display: inline-block;
	color: #9597A6;
}
.user_events_text {
	font-size: 20px;
	display: inline-block;
	margin-left: 50px;
	color: #9597A6;
}

.user_nav_link {
	font-size: 20px;
	color: #ABABAB;
	margin-left: 200px;
	margin-bottom: 20px;

}
.user_nav_link_active {
	color: grey !important; 


}
.post_item_entire {
	margin-left: 50px;
	margin-bottom: 160px;
	width: 800px;
	height: flex;

}

.post_item {

  display: flex;
  margin-right: 50px !important;
  text-align: left;
}


.post_user_photo {
	width: 50px;
	height: 50px;
	float: left;


}

.post_user_name {
	font-size: 20px;
	margin-left: 60px;

}

.post_content {
	margin-top: 50px;
	font-size:20px;

}
.user_post_image {
	margin-left: 80px;
	width: 600px;
	height: 600px;

}

.btn-first {
  background-color: #DDDDDD;
  border-color: #ABABAB;
  margin-left: 80px;
}

.btn-second {
  background-color: #DDDDDD;
  border-color: #ABABAB;
  margin-left: 100px;
}
.btn-third {
  background-color: #DDDDDD;
  border-color: #ABABAB;
  margin-left: 100px;
}
.post_buttons {
	margin-top: 50px;
	margin-bottom: 50px;
	display: inline-block;
}
.user_event_image {
	width:300px;
	height: 200px;

}
.user_event_div {
	display: inline-block;

}

.user_event_time {
	font-size: 20px;
	margin-left: 20px;
}

.user_event_content {
	font-size:20px;
	margin-left: 20px;
}
.user_event_location {
	font-size:20px;
	margin-left: 20px;

}
.event_item_entire {
	margin-left: 50px;
	margin-bottom: 60px;
	width: 800px;
	height: flex;

}

.event_item {
  display: flex;
  margin-right: 50px !important;
  text-align: left;
}
.post_paws_logo {
	width:20%;
}
.post_paws {
	font-size: 15px;
	display: inline-block;
}
.dash-left-nav-div {
	margin-top: 80px;
	margin-bottom: 80px;

}


.dash-left-nav-col {

	border-right: 1px solid black;
}


.dash-human-photo-div {
	margin-left: 70px;
}
.dash-human-div {
	margin-top: 30px;
	margin-left: 50px;

}

.dash-human-change-photo-text {
	font-size: 15px;
	display: inline-block;
	color: #9597A6;

}

.dash-human-change-photo-click {
	font-size: 15px;
	color: #9597A6;
}

.dash-humanname-title {
	margin-top: 30px;
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
	color: #9597A6;

}


.dash-humanname-box {
	font-size:15px;
	display: inline-block;
	margin-left: 100px;
	width: 50%;

}

.dash-humancity-title {
	margin-top: 30px;
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
	color: #9597A6;

}


.dash-humancity-box {
	font-size:15px;
	width: 50%;
	display: inline-block;
	margin-left: 160px;

}
.dash-humangender-title {
	font-size: 20px;
	margin-left: 20px;
	margin-top: 30px;
	display: inline-block;
	color: #9597A6;
}

.dash-humangender-text {
	font-size: 15px;
	color: #9597A6;
}
.dash-humanradio-div {
	display: inline-block;
	margin-left: 110px;
}

.dash-humangender-left {
	margin-left: 20px;

}

.dash-humangender-right {
	margin-left: 20px;

}

.dash-humanage-box {
	font-size:15px;
	display: inline-block;
	margin-left: 105px;
	width: 50%;

}

.dash-humanage-title {
	margin-top: 30px;
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
	color: #9597A6;

}
.dash-humanjob-box {
	margin-top: 20px;
	font-size:15px;
	margin-left: 50px;
	width: 70%;
	display: inline-block;

}

.dash-humanjob-title {
	margin-top: 30px;
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
	color: #9597A6;
	width: 100px;

}
.dash-humanintro-box {
	margin-top: 20px;
	font-size:15px;
	margin-left: 50px;
	width: 70%;
	display: inline-block;

}

.dash-humanintro-title {
	margin-top: 20px;
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
	color: #9597A6;
	width: 100px;

}
.dash-human-submit {
	margin-left: 550px;
	margin-top: 50px;
	font-size: 15px;
	margin-bottom: 40px;

}

.dash_nav_link {
	font-size: 20px;
	color: pink;

}
.dash_nav_link_active {
	color: grey !important; 


}

.petpro_petphoto {
	width: 60px;
	height: 60px;
	margin-top: 20px;

}

.dash-pet-title {
	margin-top: 30px;
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
	color: #9597A6;

}
.dash-petname-box {
	font-size:15px;
	display: inline-block;
	margin-left: 20px;
	width: 60%;

}

.dash-petbirth-box {
	font-size:15px;
	display: inline-block;
	margin-left: 40px;
	width: 60%;

}
.dash-petweight-box {
	font-size:15px;
	display: inline-block;
	margin-left: 50px;
	width: 60%;

}
.dash-petbreed-box {
	font-size:15px;
	display: inline-block;
	margin-left: 60px;
	width: 60%;

}
.dash-petlikes-box {
	font-size:15px;
	display: inline-block;
	margin-left: 67px;
	width: 60%;

}
.dash-petdislikes-box {
	font-size:15px;
	display: inline-block;
	margin-left: 45px;
	width: 60%;

}
.dash-pethealth-box {
	font-size:15px;
	display: inline-block;
	margin-left: 55px;
	width: 60%;

}
.dash-petchara-div {
	margin-top: 20px;
	margin-left: 20px;

}
.dash-petchara-box {
	font-size:15px;
	width: 545px;
	height: 100px;

}
.petpro_whole {
	background-color: #DDDDDD;

}

.petpro_div {
	margin-top: 20px;
	margin-left: 20px;

}
.pet_detail {
	margin-top: 20px;

}
.pet_des_block {
	display: inline-block;
	margin-left: 30px;
	background-color: #EBD0CE;
	width: 100px;
	height: 100px;

}
.pet_des_title {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
	color: #555872;
	
}

.pet_des_content {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
	color: #6C6A7F;
	
}

.petpro_carddeck {
	width: 700px;
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 100px
}



.dash-old-box {
	font-size:15px;
	margin-left: 120px;
	width: 300px;
}


.dash-first-box {
	font-size:15px;
	margin-left: 115px;
	width: 300px;

}

.dash-second-box {
	font-size:15px;
	margin-left: 43px;
	width: 300px;

}

.dash-privacy {
	font-size:20px;
	margin-left: 50px;
	margin-top: 250px;

}