.home-container {
  padding: 0 !important;
  margin: 0 !important;
}
.home_backimage2, .home_backimage3,.home_backimage4  {
  width:100%;
}
.home_title1, .home_title2, .home_title3  {
  font-size:24px;

}
.home_des1 {
  color: black;
  font-size: 30px;
  line-height: 100px;
}
.home_des2, .home_des3, .home_des4 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 60px; 
}

.home_button1, .home_button2, .home_button3, .home_button4 {
  font-size: 30px;  
  height: 100px;
}

.home-background {
  width: 100%;
  height: auto;
}

