
.home_background {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  top:0px;
  left:0px;
  right: 0px;


}
.home_logo {  
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 200px;
  margin-left: 200px;
}


.home_title {
  font-size: 70px;
  margin-top: 210px;
  margin-left: 350px;
  display: inline-block;
}

.home_backimage2 {
  margin-top: -800px;
  margin-left: 600px;

}
.home_backimage3 {
  margin-left: -800px;

}
.home_backimage4 {
  height: 90%;
  width: 250%;
  margin-top: 100px;
  margin-bottom: 300px;
  margin-left: 100px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home_title1 {
  margin-top:1400px;
  font-size:70px;
  margin-left: -800px;

}
.home_title2 {
  margin-top:200px;
  margin-bottom: 0;
  margin-left:150px;
  font-size:70px;

}
.home_title3 {
  margin-top:200px;
  margin-bottom: 0;
  margin-left:-800px;
  font-size:70px;

}
.home_des1 {
  color: black;
  margin-top:500px;
  margin-left:100px;
  font-size: 70px;
  line-height: 100px;
  width: 50%;

}
.home_des2 {
  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: -800px;
  width: 90%;
  font-size: 40px;
  line-height: 60px; 
}
.home_des3 {
  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: 150px;
  margin-right: 50px;
  font-size: 40px;
  width: 150%;
  line-height: 60px; 
}
.home_des4 {
  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: -800px;
  margin-right: 50px;
  width: 130%;
  font-size: 40px;
  line-height: 60px; 
}
.home_button1 {
  font-size: 50px;  
  margin-left: 100px;
  margin-top: 150px;
  height: 200px;

}

.home_button2 {
  font-size: 50px;  
  margin-top: -150px;
  margin-left: -600px;
  height: 200px;

}
.home_button3 {
  font-size: 50px;  
  margin-top:  -100px;
  margin-left: 200px;

}
.home_button4 {
  font-size: 50px;  
  margin-top: -150px;
  margin-left: -600px;
  height: 200px;

}
.home_pet_signup {
  display:inline-block;
  width:130px;
  height:30px;
  border:1px solid #000;

}
.menu {
    background-color: transparent;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 1200px;
    display: flex;
    padding: 0 40px;
    position: absolute;
    margin-top: 200px;
    height: 10%;
}

.menu__right {
    display: flex;
    align-items: center;
}

.menu__list {
    list-style-type: none;
    height: 300%;
    margin: 0;
    margin-right: 40px;

}

.menu__list-item {
    display: inline-block;
    height: 50%;
    margin-right: 20px;

}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 50%;
    height: 50px;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.menu__link:hover {
    color: #ffaa3b;

}

.menu__link--active {
    color: #ffaa3b;
    font-weight: 700;

}

.menu__logo {
    text-indent: 100px;
    display: inline-block;
    height: 100%;
    width: 92px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4;
    font-size: 50px;
}


