.login_background {
	background-color: #DDDDDD;
	background-size: cover;

}
.login_logo1 {
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 200px;
  margin-left: 200px;


}
.login_title1 {
  font-size: 50px;  
  margin-top: 300px;
  margin-left: 200px;
  color: #888888;

}

.login_title2 {
  font-size: 80px;  
  margin-top: 200px;
  margin-left: 100px;
  color: #888888;
  line-height: 80px; 

}


.login_title5 {
  font-size: 40px;
  color: #888888;
  margin-left: 100px;

}
.login_block_first {
  margin-top: 200px;
  height: 200px;  
  margin-left: 100px;
}

.login_block1{

  height: 200px;
  margin-left: 100px;

}

.login_block_last {

  height: 200px;  
  margin-bottom: 200px;
  margin-left: 100px;
}
.login_logo2 {
  margin-bottom: -40px;
  position: absolute;
}

.login_des {
  font-size: 30px;
  margin-top: 30px;
  margin-left: 100px;
  display: inline-block;
  color: #ABABAB;

}
.login_des1 {
  font-size: 30px;
  color: #ABABAB;
}
.email_form {
  margin-left: 100px;
  font-size: 40px;
}
.email_div {
  height:60px;
  width:50%;
  margin-top:100px;

}
.email_box {
  height:60px;
  width:50%;
  margin-bottom:50px;

}
.email_text {
  font-size: 30px;
  color: #ABABAB;
  margin-left: 100px;

}

.password_text {
  font-size: 30px;
  color: #ABABAB;
  margin-left: 100px;
  margin-top: 50px;
}
.password_box {
  height:60px;
  width:50%;
  margin-bottom:50px;

}
.password_form {
  margin-left: 100px;
  font-size: 40px;
}
.password_div {
  height:100px;
  width:50%;
}
.login_emailstatediv {
  margin-left: 100px;
  margin-top: -20px;
}
.login_emailstate {
  height: 50px;
  font-size: 30px;
}

.login_resultdiv {
  margin-left: 100px;
  margin-top: -20px;
}
.login_result {
  height: 100px;
  font-size: 30px;
  color: red;
}
.login_logindiv {
  height: 100px;  
}

.login_login {
  font-size: 30px;
  margin-left: 100px;
  background-color: #ABABAB;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 15%;
}

.login_social {
  margin-top:0px;
  height: 100px;
}
.login_logos {
  margin-left: 100px;
  height: 80px;
  margin-bottom: 50px;
}

.login_signup {
  font-size: 30px;
  margin-left: 100px;
}
.login_displayErrors input:invalid {
  border-color: red;

}


