.petb_background {
  background-color: #DDDDDD;
  background-size: cover;
}
.petb_block_first {
  margin-top: 120px;
  margin-left:20px;
}
.petb_block{
  margin-left: 20px;

}
.petb_block_last {

  margin-left: 20px;
  margin-bottom: 0px;
}
.petb_div {
  margin-left: 400px;

}
.petb_des {
  font-size: 25px;
  margin-top: 110px;
  margin-left: 100px;
  display: inline-block;
  color: #ABABAB;

}


.petb_title2 {
  font-size: 30px;  
  margin-top: 100px;
  margin-left: 100px;
  color: #888888;
  line-height: 50px; 

}

.petb_title3 {
  font-size: 25px;  
  margin-top: 80px;
  margin-left: 60px;
  color: #888888;
  line-height: 50px;  
}

.petb_dog_box {
  display: none;

}
.petb_dog_img {
  margin-left: 50px;
  height: 150px;
  width: 150px;
  border: 2px solid transparent;

}

.petb_dog_box:checked+img {
  opacity: .5;
  border: 2px solid grey;
}
.petb_cat_box {
  display: none;
}
.petb_cat_img {
  margin-left: -5px;
  height: 150px;
  width: 150px;
  border: 2px solid transparent;

}

.petb_cat_box:checked+img {
  opacity: .5;
  border: 2px solid grey;
}

.petb_other_box {
  display: none;
}
.petb_other_img {
  margin-left: -3px;
  height: 150px;
  width: 150px;
  border: 2px solid transparent;
}

.petb_other_box:checked+img {
  opacity: .5;
  border: 2px solid grey;
}

.petb_title4 {
  font-size: 20px;  
  margin-top: 50px;
  margin-left: 50px;
  color: #888888;
  line-height: 40px;  
}
.basics-back-next {
  height: 14vh;
  position: absolute;
  width:100%;
  bottom: 0;
  background-color: white;
  padding:4% 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}
@media only screen and (max-width: 767px) {
  .left-nav {
    display: none;
  }
  .basics-back-next {
    width: 100vw;
    bottom: 0;
    position: static
  }
}
